 body{
    background-color: #792524;
 }
 .backgroundImage{
    background-image: url(../assets/images/home/wankul_card_games.png);
    background-size: cover;
    opacity: 0.10;
 }
 @media screen and (max-width: 800px) {
    .backgroundImage{
      height: 150vh !important;
      background-position-x: center;
    }
 }