/* .bg-image{
    background-image: url('../assets/images/home/wankul_card_games.png');
    background-size: cover;
} */
 .divMainContent{
    background-color: #33291C;
    max-width: 752px;
 }
 .wanxul_image{
    width: 752px;
    height: 321px;
 }
 .wanxul_title{
   width: 206px;
   height: auto;
 }
 aside{
    width: 360px !important;
    height: 616px;
 }
 .productImage{
    width: 90%;
 }
 .form-check-input:checked{
   background-color: black;
   border-color: black;
 }
 .bg-yellow{
    background-color: #F9DF3E;
 }
 .fs-btn{
    font-family: 'Lato', sans-serif;
 }
 